.admin__ttl {
    text-align: center;
}


form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


form div {
    margin-bottom: 15px;
}

form label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
    color: #333;
}

form input[type="text"],
form input[type="email"],
form input[type="password"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

form input[type="text"]:focus,
form input[type="email"]:focus,
form input[type="password"]:focus {
    border-color: #007bff;
    outline: none;
}


form input[type="password"] {
    margin-bottom: 10px;
}

form button {
    width: 100%;
    padding: 12px;
    font-size: 18px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: #0056b3;
}


form .error {
    color: #e74c3c;
    font-size: 14px;
    margin-top: 5px;
}

/* レスポンシブデザイン */
@media (max-width: 600px) {
    form {
        padding: 15px;
    }

    form input[type="text"],
    form input[type="email"],
    form input[type="password"],
    form button {
        font-size: 14px;
    }
}
.notification-btn {
    text-align: center;
}

.notification-btn button{
    background-color: #864fa3;
    color: #ffff;
}