.content {
    display: flex;
    justify-content: center;
}


.email_verify {
    padding: 30px;
    width: 100%;
    max-width: 500px;
    text-align: center;
}


h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}


p {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
}


button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}


p:last-child {
    font-size: 14px;
    color: #28a745;
    margin-top: 20px;
}